@page
@model WebApplication3.Pages.index3Model
@{
}
<form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 rounded-5 alert-light col-4">
                <input type="number" asp-for="modelss.howard" placeholder="KFCBurder" />KFCBurger
                
                <button class="btn btn-primary mt-1" type="submit">Order My Food</button>

            </form>